<p id="notice"><%= notice %></p>

<p>
  <b>Reviewer:</b>
  <%= @review.user.name %>
</p>

<p>
  <b>Toilet:</b>
  <%= @review.toilet.name %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>

<p>
  <b>Clean:</b>
  <%= @review.clean %>
</p>


<%#= link_to 'Edit', edit_review_path(@review) %>
<%#= link_to 'Back', reviews_path %>
<%= link_to 'Back to home page',root_path %>
