<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%=  link_to "ToiletMaster", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",       root_path %></li>
          <li><%= link_to "Help",       help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
          <!--li>
            <form class="form-inline no-margin">
              <input type="text" class="input-small" placeholder="Email">
              <input type="password" class="input-small" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="btn">Sign in</button>
              <%#= link_to "Sign up", signup_path, class: "btn btn-primary" %>
            </form>
          </li-->
        </ul>
      </nav>
    </div>
  </div>
</header>