<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%=  link_to "ToiletMaster", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",'/static_pages/home' %></li>
          <li><%= link_to "Help",'/static_pages/help' %></li>
          <li><%= link_to "About Us",'/static_pages/about' %></li>
          <li>
            <form class="form-inline">
              <input type="text" class="input-small" placeholder="Email">
              <input type="password" class="input-small" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="btn">Log in</button>
              <%= link_to "Sign up", '#', class: "btn btn-primary" %>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>